.hero {
  padding: 5rem 15rem;
  @media screen and (max-width: 1600px) {
    padding: 5rem 4rem;
  }
  @include breakpoint-down(tab) {
    padding: 5rem 2rem;
  }
  @include breakpoint-down(mobile) {
    padding: 5rem 1rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-heading {
      font-family: "Playfair Display", sans-serif;
      font-weight: 400;
      font-size: 6rem;
      color: #d33d29;

      @include breakpoint-down(tab) {
        font-size: 5rem;
      }
      @include breakpoint-down(mobile) {
        font-size: 4rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 3rem;
      }
    }
  }
}
